<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 style="color: #3498db;">Welcome to 2P!</h1>
    <h3 style="color: #e74c3c;">2P stands for Portal Project..</h3>
    <br>
    <h4 style="color: #27ae60;">This is an application for connecting with people with the same interests!</h4>
    <h4 style="color: #f39c12;">Join the team by signing up to our platform, get access to all the fantastic features! :)</h4>
    <h3 style="color: #8e44ad;">Click on the service that you'd like to use!</h3>
    <h1 style="color: #e67e22;">See you on board!</h1>
    <%= link_to 'Go to Posts', posts_feed_index_path, class: 'btn btn-primary rounded-pill', id: 'posts-link', data: { signed_in: user_signed_in? } %>
    <%= link_to 'Go to Messenger', rooms_path, class: 'btn btn-primary rounded-pill', id: 'chats-link', data: { signed_in: user_signed_in? } %>
    <%= link_to "Contact List", contacts_path, class: 'btn btn-primary rounded-pill', id: 'contacts-link', data: { signed_in: user_signed_in? } %>
    <div class="flex justify-between">
  <% if user_signed_in? %>
    <!--<div>
      Signed in as <%= current_user.email %>. <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-blue-500" %>
      <%= link_to "All messages", rooms_path, class: "text-blue-500" %>
    </div> -->
    <br> <br>
    <div> <strong> Notifications: </strong></div>
    <%= turbo_frame_tag "notifications", src: notifications_path %> 
    <% if @notifications.present? %>
    <% @notifications.each do |notification| %>
      <%= render partial: 'notifications/notification', locals: { notification: notification } %>
    <% end %>
  <% else %>
    <p>No notifications</p>
  <% end %>
  <% else %>
    <%= link_to "Sign in", login_path , class: "text-blue-500" %>
  <% end %>
</div>
  </div>
</div>


<script>
const postsLink = document.getElementById('posts-link');
const chatsLink = document.getElementById('chats-link');
const contactsLink = document.getElementById('contacts-link');

const checkSignInAndRedirect = function(event, link) {
  const isUserSignedIn = link.dataset.signedIn === 'true';

  if (!isUserSignedIn) {
    alert('You need to sign up/in first!');
    event.preventDefault(); 
    window.location.href = '/login'; //  sign-in path.
  }
};

postsLink.addEventListener('click', function(event) {
  const isPostsLinkSignedIn = postsLink.dataset.signedIn === 'true';

  if (!isPostsLinkSignedIn) {
    alert('You need to sign up/in first to access Posts!'); 
    event.preventDefault();
    window.location.href = '/login';
  }
});

chatsLink.addEventListener('click', function(event) {
  const isChatsLinkSignedIn = chatsLink.dataset.signedIn === 'true';

  if (!isChatsLinkSignedIn) {
    alert('You need to sign up/in first to access Chats!'); 
    event.preventDefault();
    window.location.href = '/login';
  }
});

contactsLink.addEventListener('click', function(event) {
  const isContactsLinkSignedIn = contactsLink.dataset.signedIn === 'true';

  if (!isContactsLinkSignedIn) {
    alert('You need to sign up/in first to access Contacts!'); 
    event.preventDefault();
    window.location.href = '/login';
  }
});

</script>


