<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @contact, html: { multipart: true }, class: "form-horizontal" do |f| %>
        <div class="panel-body">
          <% if @contact.errors.any? %>
            <div class="alert alert-danger">
              <h3>Correct the following errors:</h3>
              <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name, class: "control-label" %> Full Name            
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: "control-label" %> Email
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :phone, class: "control-label" %> Phone 
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
              <button type="submit" class="btn btn-primary">Save</button>
              <%= link_to "Cancel", contacts_path, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
